html,body,#root {
  height: 100%;
}

.tdp-l {
  width: 22%;
  text-align: left;
}
.tdp-c {
  width: 12%;
  text-align: center;
}
.tdp-r {
  width: 22%;
  text-align: right;
}

.blt {
  border-left:3px solid #dee2e6;
}
.brt {
  border-right: 3px solid #dee2e6;
}